In [2]:
# Create a dictionary which contain the scores of 5 students

scores = {
    'Bob': 100,
    'Lisa': 200,
    'Alex': 300,
    'Mike': 600,
    'Sue': 1000
}

Accessing Keys from the Dictionary

In [ ]:
scores['Lisa']

200

In [ ]:
scores['Bob']

100

In [ ]:
scores.get('Liz', 'Not Available')

'Not Available'

Updating data in the dictionary

In [ ]:
scores['Lisa'] = 800

In [ ]:
scores['Lisa']

800

In [ ]:
print(scores)

{'Bob': 100, 'Lisa': 800, 'Alex': 300, 'Mike': 600, 'Sue': 1000}

Deleting a key,value pair in a dictionary

In [ ]:
del scores['Mike']

In [ ]:
scores

{'Bob': 100, 'Lisa': 800, 'Alex': 300, 'Sue': 1000}

In [ ]:
scores['Avinash']

KeyError: 'Avinash'

In [ ]:
scores.get('Avinash', 'Name not found')

'Name not found'

Adding a record to a dictionary

In [ ]:
scores['Avinash'] = 500

In [ ]:
scores

{'Bob': 100, 'Lisa': 800, 'Alex': 300, 'Sue': 1000, 'Avinash': 500}

Iterating Through a Dictionary

In [ ]:
# Method #1
for key in scores:
  print(key, scores[key])

Bob 100
Lisa 800
Alex 300
Sue 1000
Avinash 500

In [ ]:
scores

{'Bob': 100, 'Lisa': 800, 'Alex': 300, 'Sue': 1000, 'Avinash': 500}

In [ ]:
# Method # 2
for key, value in scores.items():
  print(f'{key}: {value}')

Bob: 100
Lisa: 800
Alex: 300
Sue: 1000
Avinash: 500

In [7]:
# Printing all of the keys in the dictionary
for keys in scores.keys():
  print(keys)

Bob
Lisa
Alex
Mike
Sue

In [6]:
for x in scores.items():
    print(x[0], x[1])

Bob 100
Lisa 200
Alex 300
Mike 600
Sue 1000

In [8]:
#Inseting a new key value pair into the dictionary
scores.update({"Avinash": 1000})

In [ ]:
#Remove a value from the dictionary
del scores["Mike"]
scores.pop("Avinash")

In [11]:
sat_scores = {
    "Bob": [800,700,600],
    "Lisa": [800,700,600],
    "Alex": [650,700,800],
    "Mike": [700,500,300],
    "Sue": [800,750,770]

}

In [13]:
all_scores = []
for key, value in sat_scores.items():
    all_scores += sat_scores[key]

avg = sum(all_scores)/len(all_scores)
print(avg)

678.0